<h1>Welcome to Bootleg Amazon's Local Marketplace!</h1>

<div class="accordion">
  <% @inventories.each do |inventory| %>
		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<%= link_to inventory.store_name, inventory_path(inventory) %>
				</h5>
				<button class="badge badge-primary cursor-pointer float-right" type="button" data-toggle="collapse" data-target="#inventory-<%= inventory.id %>">
					(Toggle Products)
				</button>
			</div>
			<div id="inventory-<%= inventory.id %>" class="collapse">
				<div class="card-body">
					<ul>
            <% inventory.products.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
            <% end %>
					<ul>
				</div>
			</div>
		</div>
	<% end %>
</div>
