<h1>Welcome, <%= @user.full_name %>!</h1>

<% if @user.is_seller == true %>
  <h4>Purchase History</h4>
  <ol>
    <% @user.inventory.products.each do |product| %>
    <li><%= link_to product.name, inventory_product_path(product) %></li>
    <% end %>
  </ol>
  <div>

  </div>
<% end %>
