<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">The Online Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/inventories">Stores<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/products">Products</a>
      <a class="nav-item nav-link" href="/carts/<%= session[:user_id] %>">Cart</a>
      <% if session[:user_id] %>
      <a class="nav-item nav-link" href="/users/<%= session[:user_id] %>"><%= User.find(session[:user_id]).full_name %></a>
      <a class="nav-item nav-link"><%= button_to "Logout", '/sessions', method: 'delete' %></a>
      <% end %>
    </div>
  </div>
</nav>
